//@import "compass/reset";
@import "compass";
@import "normalize";
@import "h5bp";
@import "nivo-slider";
@import "base";

* {
	margin: 0;
	padding: 0;
}

body {
	background: #000000 url('/img/bg.jpg') no-repeat fixed;
	background-size: cover;
	color: #ffffff;
}

.pagewidth {
	margin: 0 auto;
	width: $pagewidth;
}

.topbar {
	/* http://www.colorzilla.com/gradient-editor/#f87a14+0,f87a14+12,f17714+24,d9680c+51,bf5905+76,b85504+86,ae4f00+100;Custom */
	background-color: #f87a14; // Old browsers
	$experimental-support-for-svg: true; // IE9 SVG, doesn't need conditional override of 'filter' to 'none' because we only apply filter conditionally to 6-8
	@include background-image(linear-gradient(top, #f87a14 0%,#f87a14 12%,#f17714 24%,#d9680c 51%,#bf5905 76%,#b85504 86%,#ae4f00 100%));
	
	height: 60px;
	position: absolute;
	width: 100%;
	top: 0;
	z-index: -1;
}

.pageheader {
	padding-top: 9px;
	position: relative;
}

/* MENU */
#topmenu{
	float: right;
	//width: 573px;
	padding-right: 15px;
	height: 39px;
	
	ul {
		padding-left: 10px;
		padding-top: 7px;
		margin: 0px;
	}

	li {
		display: inline;
	}

	a {
		font-size: 14px;
		font-weight: normal;
		display: block;
		float: left;
		width: 108px;
		height: 26px;
		line-height: 1.6;
		text-align: center;
		text-decoration: none;
		color: #262626;
		padding-right: 2px;
		padding-top: 3px;
	}

	.menubutton {
		a:hover, .active {
			height: 26px;
			background: url(/img/menu_active1.png) no-repeat center top;
			color: #ffffff;
		}
	}
}

#logo{
	height: 120px;
	padding-top: 60px;
	
	// Can't use position:relative here because it prevents other elements from being clicked,
	// and the only fix doesn't work in IE (pointer-events:none). Instead work with parent's position:relative.
	//position: relative;

	div {
		font-size: 21px;
		color: #000000;
		font-weight: bold;
		position: absolute;
		left: 45px;
		top: 157px;
	}
}

#prew_box{
	/* http://www.colorzilla.com/gradient-editor/#b35305+0,b45406+7,c25c09+29,e87211+74,f77a14+100;Custom */
	background-color: #b35305; // Old browsers
	$experimental-support-for-svg: true; // IE9 SVG, doesn't need conditional override of 'filter' to 'none' because we only apply filter conditionally to 6-8
	@include background-image(linear-gradient(top, #b35305 0%,#b45406 7%,#c25c09 29%,#e87211 74%,#f77a14 100%));

	padding: 11px;
	margin-bottom: 20px; /* This is because the bullets are absolutely positioned */
}
#prew_but_box{
	width: 76px;
	margin: 0 auto;
	height: 20px;
	padding-top: 20px;
}
#prew_but_left{
	float: left;
}
#prew_but_right{
	float: right;
}

.pagebody {
	@extend .pagewidth;
	background: rgba(255,255,255,0.4);
	padding: 10px;
	width: $pagewidth - 20;
	margin-top: 20px;
	color: #000;
}

@import "page-text-layout";

/* FOOTER */

.pagefooter {
	padding: 10px 0px 20px 0px;
	color: #000000;

	a {
		color: #000000;
		font-weight: bold;
		
		&:hover{
			color: #c70000;
		}
	}
}

.footer_bottom
{
	padding-top: 10px;
	font-size: 10px;
	padding-left: 60px;

	a {
		font-weight: normal;
	}
}

.row-top {width:100%;padding:33px 0 42px;}
.row-padding {padding:0 62px}
.col-1, .col-2, .col-3, .col-4  {float:left}
.list-services, .list-1 { padding: 0;}
.list-services li {line-height:24px;padding-left:28px; list-style:none}
.list-services li a {text-decoration:none}
.list-services li a:hover {text-decoration:underline}
.list-services li.item-1 {background:url(images/facebook.png) 0 3px no-repeat}
.list-services li.item-2 {background:url(images/twitter.png) 0 3px no-repeat}
.list-services li.item-3 {background:url(images/linkedin.png) 0 3px no-repeat}
.menu li a, .list-1 li a,  {text-decoration:none}
.list-1 li {line-height:24px;padding-left:10px;background:url(images/marker.gif) 0 10px no-repeat;  list-style:none}
.list-1 li a {display:inline-block;color:#9d9d9d}
.list-1 li a:hover {text-decoration:underline}

.indent3 {padding-top:28px; text-align: right;}
.footer-logo {display:block;color:#ccc;font-size:30px;line-height:1em;text-transform:uppercase;letter-spacing:-1px;font-weight:400;margin-bottom:5px}
.footer-logo strong {color:#ccc;text-transform:none;display:inline-block}
.phone {display:inline-block;font-size: 24px;line-height:1.2em;color:#ccc;letter-spacing:-1px;padding-left:5px}
.phone strong {color:#ccc}
.col-1 {width:190px;margin-right:55px}
.col-2 {width:110px;margin-right:55px}
.col-3 {width:140px;margin-right:65px}
.col-4 {width:235px}

/* END FOOTER */

@import "nivo-slider-ourtheme";
@import "print";
@import "ie";